$mainFont: "Roboto", "san-serif";
$gray: #a1a1a1;
$white: #fff;
$black: #000;
$green: #02a28f;
$grey: #8e8e8e;
$canteinerWidth: 946px;
$headercantent: #dce5e2;
$bg: #263238;
$maincantent: #f5f5f5;
$sectionp: #8f95a5;
